HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/idea/
*.iws
*.iml
*.ipr
/out/

#maven ignore
target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#temp file

*.log
*.cache
*.diff
*.tmp
*.class

#system ignore
.DS_Store
Thumbs.db